.articles {
    position: relative;
    display: flex;
    flex-wrap: wrap;

}
.article {
    position: relative;
    border: 1px solid #dadada;
    border-radius: 5px;
    width: 100%;
    margin-top: 2rem;
    scroll-margin-top: 4rem;
    z-index: 1;
}
.article-header {
    position: relative;
    display: flex;
    font-size: x-large;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #eeeeee;
    color: rgb(0, 0, 0);
}

.article-body {
    border-top: 1px solid #dadada;
    padding: 10px 10px;
}
.article-minimize {
    position: absolute;
    right: 10px;
    color: inherit;
    font-size: 20px;
}
.article-hide {
    border: none;
    display: none;
}
.article-footer {
    font-size: small;
    padding: 10px 10px;
    border-top: 1px solid #dadada;
    background-color: #eeeeee;
}
.article-container {
    display: flex;
}
.article-box {
    border: 1px solid #dadada;
    border-radius: 5px;
}

@media screen and (max-width: 500px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: larger;
    }
    .kg-article-paragraph {
        font-size: medium;
    }
    .article-header {
        font-size: larger;
    }
    .kg-article-part-empty-text {
        font-size: medium;
    }
}